$fonsize: 24px;
$fonsize_p: 15px;
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.input {
  width: 50%;
  height: 50px;
}
.input input {
  width: 100%;
  height: 50px;
}
.div_label{
  line-height: 10vh;
  margin-bottom: 15px;
  margin-left: 20px;
}
.div_btn{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.btn {
  width: 100%;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

main span {
  margin-right: 5px;
}
.board{
  height: 25px;
  margin-top: 2%;
  font-size: $fonsize_p;
}
.temp{
  text-align: center;
  font-size: $fonsize_p*1.5;
}
.board span{
  text-align: center;
  font-size: $fonsize_p;
}
.cold svg{
  color: #30618C;
}
.hot svg{
  color: #D97218
}

.sunset svg{
  color: #D9526B;
}
.sunrise svg{
  color: #F29F05;
}

.background{
  width: 100%;
  height: 55px;
  background-color: #D9526B;
}