<div class="topBar">
  <div class="boxTitle">
    Prognoza pogody
  </div>
  <div id="searchHolder" class="searchHolder">
    <div class="locationSearch ">
      <span class="searchInputHolder">
        <span title="Użyj mojej lokalizacji" class="geoIcon geolocationTrigger gtm_widget_geolocation"><svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#geo" x="0" y="0"></use>
          </svg></span>
      </span>
    </div>
  </div>

</div>
<div class="mainBoxContent">
  <div class="mainParams">
    <div class="temperature">
      <div class="temp">11<span class="deg">°</span></div>
      <div class="feelTemp">
        <span class="feelTempLabel">Odczuwalna:</span>
        <span class="feelTempValue">8°C</span>
      </div>
    </div>
    <div class="forecast">
      <span class="iconHolder">
        <img src="//ocdn.eu/ucs/static/pogoda/b0cda5e89f292626ff4d896a0451954c/mainWidget/png_icons/3.png" class="svg">
      </span>
    </div>

  </div>

  <div class="weatherParams">
    <div class="forecastDesc">Pochmurno</div>
    <ul>

      <li>
        <span class="restParamLabel">Deszcz</span>
        <span class="restParamValue">0,0 mm</span>
      </li>



      <li>
        <span class="restParamLabel">Wiatr</span>
        <span class="restParamValue">36 km/h <span class="windDirectionArrow" style="transform:rotate(88deg)"><svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wind_arrow" x="0" y="0"></use>
            </svg></span></span>
      </li>



      <li>
        <span class="restParamLabel">Ciśnienie atmosferyczne</span>
        <span class="restParamValue">1011 hPa</span>
      </li>



      <li>
        <span class="restParamLabel">Zachmurzenie</span>
        <span class="restParamValue">16%</span>
      </li>



      <li>
        <span class="restParamLabel">Wilgotność</span>
        <span class="restParamValue">51%</span>
      </li>


      <li>
        <span class="restParamLabel">Śnieg</span>
        <span class="restParamValue">0,0 mm</span>
      </li>



    </ul>

  </div>

  <div class="weatherParamsTrigger expandArrow"></div>

</div>

<div class="mainBoxBgHolder "></div>
</div>